{% extends "base.html" %}

{% block content %}
    <div class="center-align">
        <h1>Welcome to Base loading!</h1>
        <a href="{{ url_for('create_intake') }}" class="btn">Create Intake</a>
        <h3>Documentation :</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quidem vero qui magni exercitationem voluptate facilis obcaecati odit fugiat nostrum, enim beatae quia culpa magnam blanditiis, natus nulla laborum fugit.</p>

    </div>
{% endblock %}
